.serviceList {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.serviceHeading {
  text-align: center;
  margin: 0;
  color: var(--color-text-heading);
  justify-content: center;
}

.serviceTitle {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1;
}

.serviceSub {
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
