.serviceList {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.serviceHeading {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: #391e88;
  line-height: 1;
  justify-content: center;
}
