.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.image {
  width: 100%;
  height: 220px;
  object-fit: cover; /* 比率維持してトリミング */
  display: block;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
}
