.recruit {
  padding: 70px 0;
  margin: 0 auto 40;
  display: flex;
  max-width: 1140px;
}

.recruitInner {
  position: relative;

  margin: 0 auto;
  padding: 0px 15px;
  z-index: 2;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 40px;
  flex: 1 1 0%;
}

.recruitTitle {
  margin: 0;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.06em;
  color: var(--color-text-heading);
}

.recruitSub {
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--color-text-heading);
}

.recruitText {
  margin: 30px 0;
  line-height: 1.35;
  color: #2b2b2b;
}

.recruitImageWrap {
  position: relative;
  width: 60%;
  background-size: cover;
  z-index: 1;
  flex: 0 0 58%;
  display: flex;
}

.recruitImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 900px) {
  .recruit {
    margin: 0 24px;
    flex-direction: column;
  }

  .recruitCopy,
  .recruitImageWrap {
    width: 100%;
    flex-basis: auto;
  }
}
