@charset "UTF-8";

/* =========================================================
   Reset (ress.css base)
   ブラウザ差を消す
   ========================================================= */
:root {
  --color-text-heading: #391e88;
}
html {
  box-sizing: border-box;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

*::before,
*::after {
  vertical-align: inherit;
  text-decoration: inherit;
}

html {
  font-size: 16px; /* rem計算の基準(16px) */
}

body {
  font-family:
    "Montserrat", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    sans-serif;

  font-size: 0.9375rem; /* 15px */
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: #333;
}
