<<<<<<< Updated upstream
=======
html {
  font-size: 100%;
}

>>>>>>> Stashed changes
body {
  font-family:
    "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
  line-height: 1.8;
  color: #333;
  letter-spacing: 0.05em;
  font-size: 15px;
  font-size: 0.9375rem;
}
