.contact {
  margin-top: 40px;
  padding: 70px;
  background-color: #f0f0f0;
}
.contactInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contactHeading {
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--color-text-heading);
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央寄せしたいなら */
  gap: 5px;
}
.contactHeading h2 {
  font-size: 2.25rem;
}
.contactHeading h2 {
  line-height: 1;
}
.contactBody {
  margin-bottom: 20px;
}
